{% extends 'base.html' %}

  {% block content %}
  {% include 'inc/header.html' %}

  <header>
    {% include 'inc/header.html' %}

    <div class="container mt-5">
      <div class="page-banner">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-md-6">
            <nav aria-label="Breadcrumb">
              <ul class="breadcrumb justify-content-center py-0 bg-transparent">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active">Admin</li>
              </ul>
            </nav>
            <h1 class="text-center">Admin</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="page-section" id="services">
      <div class="container">
          <div class="text-center">
              <h2 class="title-section">Profit Calculator ({{ channel }})</h2>
              <div class="divider mx-auto"></div>
          </div>
         <div class="justify-content-center">
            <h5>Profit Breakdown for Channel: {{ channel }}</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th>Selling Price</th>
                            <th>Purchase Price</th>
                            <th>Profit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in monthly_data %}
                        <tr>
                            <td>{{ data.month }}</td>
                            <td>{{ data.selling_price }}</td>
                            <td>{{ data.purchase_price }}</td>
                            <td>{{ data.profit }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="font-weight-bold">Total</td>
                            <td class="font-weight-bold">{{ total_selling_price }}</td>
                            <td class="font-weight-bold">{{ total_purchase_price }}</td>
                            <td class="font-weight-bold">{{ total_profit }}</td>
                        </tr>
                    </tfoot>
                </table>
     </div>
      </div>
  </div> <!-- .page-section -->
  </main>

  {% include 'inc/footer.html' %}


{% endblock %}